div.circles.span11(id="d3_visualization", style="display:none")
  center
    h2  Superconduction Map 
  hr
  input(type='hidden', id='tweeters', value='#{tweeters}')
script(src='http://d3js.org/d3.v3.min.js')
script(type='text/javascript')
      var tweeters = !{JSON.stringify(tweeters)};
      var tweeter_names = [];
      var tweeter_retweets = [];
      var tweeter_followers = [];
      for(i=0; i<tweeters.length; i++){
      tweeter_names[i] = tweeters[i].user_handle;
      tweeter_retweets[i] = tweeters[i].num_retweets;
      tweeter_followers[i] = tweeters[i].num_followers;
      }
      console.log(tweeters.length);
      var width = 960,
      height = 500;
      magic_nums = [];
      for (i=0; i<77; i++){
      magic_nums[i] = Math.random()*15
      }
      var color = d3.scale.category20();
      var force = d3.layout.force()
      .charge(-120)
      .linkDistance(100)
      .size([width, height]);
      var svg = d3.select("#d3_visualization").append("svg")
      .attr("width", width)
      .attr("height", height);
      d3.json("/miserables.json", function(error, graph) {
      force
      .nodes(graph.nodes)
      .links(graph.links)
      .start();
      var link = svg.selectAll(".link")
      .data(graph.links)
      .enter().append("line")
      .attr("class", "link")
      .style("stroke-width", function(d) { return Math.sqrt(d.value); });
      names = [];
      retweets = [];
      followers = [];
      minval = graph.nodes.length - tweeters.length;
      for(var i=0; i<82; i++){
      if (i > minval){
      names[i]=tweeter_names[82-i-1];
      retweets[i]=tweeter_retweets[82-i-1]+1;
      followers[i]=tweeter_followers[82-i-1]+1;
      }
      else{
      names[i]="bye";//graph.nodes[i].name;
      retweets[i]=1;
      }
      }
      var node = svg.selectAll(".node")
      .data(graph.nodes)
      .enter().append("circle")
      .attr("r", function(d) { return followers[d.num]/70+30; })
      .style("fill", function(d) {
      return d3.rgb(Math.pow((retweets[d.num]),6)*0.0001, Math.pow((82-d.num),3)*2, d.num*12)
      })
      .style("opacity", function(d){
      if(d.num <= 65){
      return 0.0;
      }
      })
      .attr("class", "node")
      .call(force.drag);
      svg.selectAll("circle")
      .append("svg:title")
      .text(function (d) {
      console.log(names[d.num]);
      return names[d.num];
      });
      // node.append("circle")
      node.append("text")
      // .attr("dx", function(d){return -20})
      .attr("class", "labels")
      .text(function(d) { return "hi" });
      force.on("tick", function() {
      link.attr("x1", function(d) { return d.source.x; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.x; })
      .attr("y2", function(d) { return d.target.y; });
      node.attr("cx", function(d) { return d.x; })
      .attr("cy", function(d) { return d.y; });
      });
      });



div.leaderboard.span4.pull-right(id="leaderboard", style="display:none")
    center
      h2  Top Superconductors 
    hr
    p
      center
        if tweeters.length == 0 
            | Search for a term to display results!
        else
            each tweeter, i in tweeters
                a(href='https://twitter.com/' + '#{tweeter.user_handle}', target="_blank") #{tweeter.user_handle}
                br
                |  With #{tweeter.num_retweets} retweets and #{tweeter.num_followers} followers
                br
                button.btn.btn-primary Give gift    
                br     
                br

div.leaderboard.span11(id="tweets-board", style="display:none")
  h2 What Superconductors are Saying
  hr
  p
    if tweeters.length == 0 
          | Search for a term to display results!
      else
        table.table-striped
          thead
              tr
                th User     
                th Tweet
            tbody
              each tweeter, i in tweeters
                tr
                  td(style="color:#3147E9")   #{tweeter.user_handle}  
                  td(style="padding-left:20px")   #{tweeter.tweet_text}  

                 


